/* colors from Material Design's Orange */

body {
	background-color: white;
	font-family: "Roboto", sans-serif;
	margin: 0;
}

header {
	width: 100%;
	position: fixed;
	top: 0px;

	background-color: white;
	overflow: hidden;

	color: rgba(0, 0, 0, 0.8);

	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.header-line {
	width: 100%;
    height: 4px;
    background: #FF9800;
}

.header-cont {
	padding-left: 10px;
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 988px;
}

header h1 {
	font-size: 12px;
	margin: 16px 8px 16px 0px;

	text-align: left;
	font-weight: normal;
}

header h1 b {
	font-size: 30px;
	color: rgba(0, 0, 0, 1);
}

.feature-cont {
	width: 100%;
	margin-top: 80px;
	/* background: linear-gradient(to right, #1E88E5, #1565C0); */
	background-image: url("/static/images/blue-lattice-bg.png");
	background-size: cover;
	padding-top: 54px;
	padding-bottom: 54px;
}

.feature-cont h1 {
	font-size: 30px;

	text-align: left;
	font-weight: normal;
	color: rgba(255, 255, 255, 1);
}

.feature-cont p {
	font-size: 20px;

	text-align: left;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.7);
}

.feature-cont p b {
	color: rgba(255, 255, 255, 1);
	font-weight: 500;
}

.feature-cont p a {
	text-decoration: none
	color: #ff4c20;
	font-weight: 600;
}

.feature-content-cont .button {
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
	background-color: white;
	border: 2px solid;
	border-color: white;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	color: #1E88E5;
	padding: 10px 14px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	font-weight: 700;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.feature-content-cont .button:hover {
	background-color: #1E88E5;
	border-color: #1E88E5;
	color: white;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.feature-image-cont {
	margin-top: -12px;
	margin-right: 40px;
}

.feature-content-cont {
	margin: auto;
	width: 976px;
	padding: 10px 10px 10px 10px;

	text-align: left;
	font-weight: normal;
}

.main {
	margin: 0 auto;
	width: 988px;
	padding: 36px;
	color: rgba(0, 0, 0, 0.7);
}

.main h1 {
	font-size: 30px;

	text-align: center;
	font-weight: normal;
}

.main p {
	font-size: 16px;

	text-align: left;
	font-weight: normal;
}

.main p b {
	color: rgba(0, 0, 0, 1);
	font-weight: 500;
}

.main p a {
	text-decoration: none
	color: #ff4c20
	font-weight: 600;
}

.main hr {
	width: 988px;
	margin-top: 80px;
	margin-bottom: 80px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.graphic-cont {
	margin: 0 auto;
	width: 988px;
	height: 300px;
	padding: 0px 0px;
	color: rgba(0, 0, 0, 0.7);
	background-image: url("");
	background-position: center; 
	background-repeat: no-repeat;
}

.graphic {
	width: 264px;
	margin: 10px;
	padding: 20px;
	color: rgba(0, 0, 0, 0.7);
}

#circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #ECEFF1;
    margin: 0 auto;
}

.graphic h1 {
	font-size: 20px;

	text-align: center;
	font-weight: 600;
}

.graphic p {
	font-size: 14px;

	text-align: center;
	font-weight: normal;
}

.altmain {
	width: 100%;
	margin-top: 80px;
	background-color: #ECEFF1;
	background-size: cover;
	padding-top: 32px;
	padding-bottom: 32px;
}

.altmain-cont {
	padding-left: 10px;
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 988px;
	color: rgba(0, 0, 0, 0.7);
}

.altmain-cont h1 {
	font-size: 30px;

	margin-bottom: 40px;
	text-align: left;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.5);
}

.altmain-cont p {
	font-size: 18px;

	text-align: left;
	font-weight: normal;
}

footer {
	width: 100%;

	background-color: #263238;
	overflow: hidden;

	color: rgba(255, 255, 255, 0.8);
}

.footer-cont {
	padding-left: 10px;
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 988px;
}