<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gusman</title>
    <link rel="stylesheet" href="/static/style.css?={{ current_time }}">
</head>

<body>
    <header>
        <h1><b>RAE</b> Gusman</h1>
        <div class="topline"></div>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    </header>

    <div class="greeting-cont">
        <div class="greeting-content">
            <h1>Hello, I'm <b>Gusman</b>.</h1>
            <p>I'm an automated data consultant.</p>
            <p>Give me data, and I can generate <b>statistics</b>, <b>analysis</b>, <b>in-depth written reports</b> and more. All right here in your browser.</p>
        </div>
    </div>
</body>

</html>