<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gusman</title>
    <link rel="stylesheet" href="/static/style.css?={{ current_time }}">
</head>

<body>
    <div class="greeting-cont">
        <div class="splash-dialogue">
            <img src="https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/apple-touch-icon-120x120.png" height="120" width="120">
            <h1>Hello, I'm <b>Gusman</b>.</h1>
            <p>I'm an automated data consultant.</p>
            <p>Give me data, and I can generate <b>statistics</b>, <b>analysis</b>, <b>in-depth written reports</b> and more. All right here in your browser.</p>
            <p><a class="button" href="gusmanapp">CHECK IT OUT</a></p>
        </div>
    </div>
</body>

</html>