<!DOCTYPE html>
<html lang="en">

<head>
    <title>RAE Intelligence Technologies</title>
    <link rel="stylesheet" href="/static/style.css?={{ current_time }}">
</head>

<body>
    <header>
        <div class="header-line"></div>
        <div class="header-cont">
            <h1><b>RAE</b><br>INTELLIGENCE TECHNOLOGIES</h1>
        </div>
    </header>

    <div class="feature-cont">
        <div class="feature-content-cont">
            <img class="feature-image-cont" src="/static/images/gusman.png" align="left">
            <h1>Hello, I'm <b>Gusman</b>.</h1>
            <p>I'm an automated data consultant.</p>
            <p>Give me data, and I can generate <b>statistics</b>, <b>analysis</b>, <b>in-depth written reports</b> and more. All in your browser.</p>
            <p><button class="button" href="#">CHECK IT OUT</button></p>
        </div>
    </div>

    <div class="main">
        <h1>So what does Gusman do?</h1>

        <div class="graphic-cont">
            <div class="graphic" style="float: left">
            <div id="circle"></div>
                <h1>Organize</h1>
                <p>From scientific results to finance spreadsheets, it's sorted automatically.</p>
            </div>

            <div class="graphic" style="float: left">
                <div id="circle"></div>
                <h1>Analyse</h1>
                <p>Using state-of-the-art machine learning, the data is translated into valuable information.</p>
            </div>

            <div class="graphic" style="float: left">
                <div id="circle"></div>
                <h1>Produce</h1>
                <p>Custom statistics, analysis, indepth-written reports, and everything else is compiled and delivered straight to you.</p>
            </div>
        </div>
    </div>

    <div class="altmain">
        <div class="altmain-cont">
            <h1>How can Gusman help me?</h1>
            <p>Hey dude, what whom to where? Sure, if yeah is to it.</p>
        </div>
    </div>

    <div class="main">
        <h1>So sure okay</h1>
        <p>A printing press is a device for applying pressure to an inked surface resting upon a print medium (such as paper or cloth), thereby transferring the ink. Typically used for texts, the invention and spread of the printing press was one of the most influential events in the second millennium.</p>
    </div>

    <footer>
        <div class="footer-cont">
        <p>Rae Intelligence Technologies</p>
        </div>
    </footer>
</body>

</html>