<!DOCTYPE html>
<html lang="en">

<head>
    <title>RAE Intelligence Technologies</title>
    <link rel="stylesheet" href="/static/style.css?={{ current_time }}">
</head>

<body>
    <header>
        <div class="header-line"></div>
        <div class="header-cont">
            <h1><b>RAE</b><br>INTELLIGENCE TECHNOLOGIES</h1>
        </div>
    </header>

    <div class="feature-cont">
        <div class="feature-content-cont">
            <img class="feature-image-cont" src="/static/images/gusman.png" align="left">
            <h1>Hello, I'm <b>GUSMAN</b>.</h1>
            <p>I'm an automated data consultant.</p>
            <p>Give me data, and I can generate <b>statistics</b>, <b>machine learning classifiers</b>, <b>written reports</b> and more. All in your browser.</p>
            <p><button class="button" href="#">CHECK IT OUT</button></p>
        </div>
    </div>

    <div class="main">
        <h1>How does it work?</h1>
        <p>The printing press was invented in the Holy Roman Empire by the German Johannes Gutenberg around 1440, based on existing screw presses. Gutenberg, a goldsmith by profession, developed a printing system, by adapting existing technologies to printing purposes, as well as making inventions of his own. His newly devised hand mould made possible the precise and rapid creation of metal movable type in large quantities. The printing press spread within several decades to over two hundred cities in a dozen European countries</p>
        <br>
        <h1>What does which who?</h1>
        <p>In Renaissance Europe, the arrival of mechanical movable type printing introduced the era of mass communication, which permanently altered the structure of society. The relatively unrestricted circulation of information and (revolutionary) ideas transcended borders, captured the masses in the Reformation and threatened the power of political and religious authorities. The sharp increase in literacy broke the monopoly of the literate elite on education and learning and bolstered the emerging middle class. Across Europe, the increasing cultural self-awareness of its peoples led to the rise of proto-nationalism, and accelerated by the development of European vernacular languages, to the detriment of Latin's status as lingua franca.</p>
        <br>
        <h1>So when did whom that?</h1>
        <p>The rapid economic and socio-cultural development of late medieval society in Europe created favorable intellectual and technological conditions for Gutenberg's invention: the entrepreneurial spirit of emerging capitalism increasingly made its impact on medieval modes of production, fostering economic thinking and improving the efficiency of traditional work-processes. The sharp rise of medieval learning and literacy amongst the middle class led to an increased demand for books which the time-consuming hand-copying method fell far short of accommodating.</p>
    </div>
</body>

</html>