/* using Material Design colors */

body {
	background-color: #ECEFF1;
	font-family: "Roboto", sans-serif;
	color: rgba(0, 0, 0, 0.8);
}

.greeting-cont {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2c/Rotating_earth_%28large%29.gif"); /* 1472x200 */
	margin: 5% auto;
	width: 960px;
	padding: 0 256px;
}

.splash-dialogue {
	background-color: white;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	padding: 32px 32px 76px 32px;
}

	.splash-dialogue img {
		margin: 0;
		padding: 4px 40px 0 16px;
		float: left;
	}

	.splash-dialogue h1 {
		font-size: 32px;
		margin: 0;

		text-align: left;
		font-weight: normal;
	}

	.splash-dialogue p {
		font-size: 20px;
		margin: 12px 0;

		text-align: left;
		font-weight: normal;

		color: rgba(0, 0, 0, 0.6);
	}

.splash-dialogue .button {
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
	background-color: #1E88E5;
	border: 2px solid;
	border-color: #1E88E5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	color: white;
	padding: 10px 14px;
	margin: 4px 0;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	font-weight: 700;
	-webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	float: right;
}

.splash-dialogue .button:hover {
	background-color: #2196F3;
	border-color: #2196F3;
	color: white;
	-webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}