/* using Material Design colors */

body {
	background-color: #f4f7f9;
	font-family: "Roboto", sans-serif;
	margin: 0;
}
.topline {
	background-color: #FB8C00;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 4px;
}
header {
	font-family: 'Roboto Condensed', sans-serif;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 64px;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	margin: 0;
}
header h1 {
	color: rgba(0, 0, 0, 0.5);
	font-weight: normal;
	font-size: 28px;
	margin: 0;
	padding: 17px 0 0 64px;
}
header h1 b {
	color: rgba(0, 0, 0, 0.2);
	font-weight: 700;
}
.greeting-cont {
	margin-top: 64px;
	width: 100%;
	overflow: hidden;
	background-color: #2196F3;
	padding: 48px;
	color: rgba(255, 255, 255, 0.6);
}
	.greeting-content {
		width: 1280px;
		margin: 0 auto;
	}
	.greeting-cont h1 {
		color: rgba(255, 255, 255, 0.8);
		font-weight: normal;
		font-size: 32px;
		margin: 0;
	}
	.greeting-cont p {
		font-size: 22px;
		margin: 16px 0 0 0;
	}